# Node / Frontend
node_modules/
frontend/node_modules/
.DS_Store
*.log

# Laravel / Backend
backend/.env
backend/storage/*.key
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/*.php

# IDE / System
.vscode/
.idea/
*.swp
